.dailyActivity {
    height: 250px;
    background-color: #FBFBFB;
    border-radius: 5px;
    margin-bottom: 50px;
}

.dialyActTooltip {
    background-color: red;
    color: white;
    font-weight: bold;
    font-size: 12px;
    text-align: center;
    padding: 10px 10px;;
}

.dailyAcLegend {
    display: flex;
    justify-content: space-between;
}

.dailyAcLegend p {
    font-size: 15px;
    margin: 0;
}

.dailyAcLegend ul {
    display: flex;
    margin: 0;
}

.dailyAcLegend li {
    margin-right: 40px;
    color: #74798C;
    font-size: 14px;
}

.dailyAcLegend li:first-child::marker {
    color: black;
}

.dailyAcLegend li:last-child::marker {
    color: red;
}