.dailyActivity {
    width: 1200px;
    height:320px;
}

.dialyActTooltip {
    background-color: red;
    color: white;
    font-weight: bold;
    font-size: 12px;
    text-align: center;
    padding: 10px 10px;;
}

.customCursor {
    background-color: rgba(196, 196, 196, 0.5);
}

.dailyAcLegend {
    display: flex;
    justify-content: space-between;
}

.dailyAcLegend p {
    font-size: 15px;
}

.dailyAcLegend ul {
    display: flex;
}

.dailyAcLegend li {
    margin-right: 40px;
    color: #74798C;
    font-size: 14px;
}

.dailyAcLegend li:first-child::marker {
    color: black;
}

.dailyAcLegend li:last-child::marker {
    color: red;
}