h1 {
    margin: 0;
    font-size: 38px;
    font-weight: normal;
}

.dashboard {
    display: flex;
}

.dashboardContent {
    box-sizing: border-box;
    padding: 30px 60px 30px 177px;
    width: 100%;
}

.name {
    color: red;
}

.innerContent {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
}

.innerContent > div:first-child {
    width: 75%;
}

.innerContent > div:last-child {
    width: 23%;
}

.performance {
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: space-between;
}