h1 {
    margin: 0;
    font-size: 38px;
    font-weight: normal;
}

.dashboard {
    display: flex;
}

.dashboardContent {
    box-sizing: border-box;
    padding: 30px 60px 30px 177px;
    width: 100%;
}

.name {
    color: red;
}

.innerContent {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
}

.innerContent > div:first-child {
    width: 75%;
}

.innerContent > div:last-child {
    width: 23%;
}

.performance {
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: space-between;
}

/* @media (min-width: 1200px) { ... } */
@media (min-width: 1200px) {

    h1 {
        font-size: 48px;
    }

    .dashboardContent {
        padding: 50px 150px 50px 267px;
    }
}

 @media (min-width: 1200px) and (max-width: 1440.98px) {
    .innerContent > div:first-child {
        width: 73%;
    }

    .performance {
        height: 250px;
    }
 }

 @media (min-width: 1441px) {
    .performance {
        height:290px;
    }

    .performance > div {
        width: 29% !important;
    }
 }

