.nutrients {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.nutrient {
    display: flex;
    padding: 25px;
    background-color: #FBFBFB;
    border-radius: 5px;
}

.nutrient img {
    width: 40px;
    height: 40px;
}

.nutrient > div {
    margin: auto auto auto 15px;
}

.nutrient p {
    margin: 0;
}

.nutrient p:first-child {
    font-weight: bold;
    font-size: 20px;
}

.nutrient p:last-child {
    font-size: 14px;
    color: #74798C;
} 