.score {
    background-color: #FBFBFB;
    border-radius: 5px;
}

.scoreLegend {
    color: #74798c;
}

.scoreLegend span {
    font-size: 26px;
    font-weight: bold;
    color: #282D30;
}

.scoreLegend p {
    margin: 0;
    font-size: 16px;
}

.scoreLegend p:first-child{
    position: absolute;
    top: -55px;
    left: 10px;
    color: #20253A;
    font-size: 15px;
}

.scoreLegend p:last-child{
    text-align: center;
}

@media (min-width: 1200px) and (max-width: 1440.98px) {
    .scoreLegend p:first-child {
        top: -77px;
    }
}

@media (min-width: 1441px) {
    .scoreLegend p:first-child {
        top: -95px;
    }
}