.sidebar {
    display: flex;
    flex-direction: column;
    background-color: black;
    width: 117px;
    height: 70vh;
    padding-top: 12%;
    position: absolute;
}

.activity {
    border: none;
    background-color: transparent;
}